.searchs {
  display: flex;
  padding: 16px 24px;
  line-height: 2.3;
  background: #fff;
  span{
    margin-right: 20px;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;

    > span {
      display: inline-block;
    }
  }
}
