.Forms {
  :global {
    .ant-form-item {
      flex-direction: initial;
      .ant-form-item-label {
        flex: initial;
        width: 58px;
        text-align: right;
      }
    }
  }
}

.AgencyDetails {
  > div {
    p {
      span {
        display: inline-block;
        width: 127px;
        text-align: right;
        vertical-align: top;
      }
    }
  }
}

.ToIntroduce {
  .operation {
    a {
      margin-right: 10px;
    }
  }
  :global {
    .ant-pro-table-list-toolbar {
      .ant-pro-table-list-toolbar-container {
        display: block;
        height: 64px;
        .ant-space:nth-child(1) {
          float: right;
        }
        .ant-space:nth-child(2) {
          float: left;
          font-weight: bold;
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
  }
}
